/* =----------= */
/* = -- Box --= */
/* =----------= */

* {
	min-width: 0px;
	min-height: 0px;
	font-size: 17px;
	font-weight: 500;
	font-family: Iosevka Nerd Font;
}

window#waybar {
	border-radius: 0px;
	border-width: 0px;
	background: #1d2021;
	min-width: 0px;
	min-height: 0px;
}

/* =-----------------= */
/* = -- Workspaces --= */
/* =-----------------= */

#workspaces {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 15px;
}

#workspaces button:hover {
	box-shadow: none;
	text-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0px;
}

#workspaces button {
	font-family: "Iosevka Nerd Font";
	border-width: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #1d2021;
	color: #7c6f54;
}

#workspaces button.focused {
	font-family: "Iosevka Nerd Font";
	background: #fb4934;
	color: #1d2021;
	margin-right: 5px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-width: 0px;
	min-width: 0px;
}

/* =---------------= */
/* = -- Modules -- = */
/* =---------------= */

*.modules-left,
*.modules-right {
	background: #1d2021;
	border-width: 0px;
	margin-bottom: 5px;
}

/* =--------------= */
/* = -- Modules-- = */
/* =--------------= */

/* Icon */
#cpu,
#memory,
#pulseaudio,
#clock.date,
#clock.clock,
#custom-workspaces_icon {
	min-height: 0px;
	margin-right: 20px;
}

/* =-----------= */
/* = -- Cpu -- = */
/* =-----------= */

/* icon */
#cpu {
	color: #98971a;
}

/* =--------------= */
/* = -- Volume -- = */
/* =--------------= */

/* icon */
#pulseaudio {
	color: #d79921;
}

/* =------------= */
/* = -- Date -- = */
/* =------------= */

/* icon */
#clock.date {
	color: #458588;
}

/* =-------------= */
/* = -- Clock -- = */
/* =-------------= */

/* icon */
#clock.clock {
	color: #b16286;
	margin-right: 20px;
}

/* =--------------= */
/* = -- Memory -- = */
/* =--------------= */

/* icon */
#memory {
	color: #d65d0e;
}