@import "../colors.scss";
@import "../shared.scss";

.module {
	font-weight: $font-weight;
	font-size: $font-size;
	font-family: $font;
}

.module_icon {
	font-size: $font-size + 0.2em;
}

.module_value {
	margin-left: 15px;
}