@import '../../colors.scss';
@import '../../shared.scss';

$padding-bottom-focused: 3px;
$border-width: 2px;
$padding-bottom-unfocused: $padding-bottom-focused+$border-width;

.workspace,
.focused_workspace {
	padding-bottom: $padding-bottom-unfocused;
	padding-right: 5px;
	font-family: $font;
	font-size: $font-size + 0.2em;
	font-weight: $font-weight;
	color: $fg1;
}

.focused_workspace {
	border-style: solid;
	color: $dimRed;
	font-size: $font-size + 0.2em;
	font-weight: $font-weight;
	border-bottom-style: solid;
	padding-bottom: $padding-bottom-focused;
	border-bottom-width: $border-width;
	border-bottom-color: $dimRed;
}

.ws_seperator {
	color: $bg8;
	margin-left: 10px;
	margin-right: 10px;
	font-family: $font;
	font-size: 0.7em;
}