vte-terminal {
    padding-top: 10px;
    padding-left: 50px;
}

headerbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

headerbar:backdrop {
    padding-top: 20px;
    padding-bottom: 20px;
}