"*":
  "atom-autocomplete-php":
    binComposer: "/usr/bin/composer"
  "atom-beautify":
    coffeescript:
      beautify_on_save: true
      default_beautifier: "Coffee Formatter"
    executables:
      "php-cs-fixer":
        path: "/usr/bin/php-cs-fixer"
      phpcbf:
        path: "/usr/bin/phpcbf"
    php:
      beautify_on_save: true
      default_beautifier: "PHPCBF"
      standard: "Squiz"
  "autocomplete-paths":
    scopes: [
      {
        scopes: [
          "source.js"
        ]
        prefixes: [
          "source\\s+[\"]"
        ]
        extensions: [
          "[\\s\\S]*"
          "conf"
        ]
        relative: false
      }
    ]
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "welcome"
    ]
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    preferredLineLength: 200
    scrollPastEnd: true
    scrollSensitivity: 200
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "23f21902-97fe-4818-9144-311f78ce8906"
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showPanel: true
    showTooltip: false
