// ---------------
// -- VARIABLES --
// ---------------

// ui-font
@ui-font-family: "Fira Sans Book";
@ui-font-size: 20px;

// settings control
@settings-ctrl-font-size: 18px;

// editor
@editor-font-family: "Iosevka";
@editor-font-size: 20px;
@editor-bg-color: #282828;

// tab panel
@tab-panel-height: 70px;
@tab-panel-font-size: 18px;

// tab icon
@tab-icon-size: 19px;

// tab close icon
@tab-close-icon: "\00D7";
@tab-close-icon-size: 20px;

// tree view
@tree-view-font-size: 17px;

// settings view
@settings-view-font-size: 15px;

// config menu
@config-menu-font-size: 17px;

// status bar
@status-bar-font-size: 18px;
@status-bar-height: 32px;
@status-bar-font-family: @editor-font-family;

// ----------
// -- CODE --
// ----------

atom-workspace {
	font-family: @ui-font-family !important;
}

atom-text-editor {
	text-rendering: optimizeLegibility;
	font-family: @editor-font-family;
	font-size: @editor-font-size;
}

status-bar {
	font-family: @status-bar-font-family;
	font-size: @status-bar-font-size;
	height: @status-bar-height;
	line-height: @status-bar-height;
	vertical-align: middle;
}

atom-text-editor[mini], .form-control {
	font-family: @editor-font-size !important;
	font-size: @settings-ctrl-font-size !important;
}

.settings-view {
	font-family: @ui-font-family !important;
	font-size: @settings-view-font-size !important;
}

.config-menu {
	font-size: @config-menu-font-size;
}

.scroll-view {
	background-color: @editor-bg-color !important;
}

.tree-view {
	font-size: @tree-view-font-size;
}

.command-palette {
	font-family: @editor-font-family;
	font-size: @editor-font-size;
}

.btn {
	font-family: @ui-font-family !important;
	font-size: 16px !important;
}

.tab-bar {
	height: @tab-panel-height !important;
	max-height: @tab-panel-height !important;
	display: block !important;
	white-space: nowrap !important;

	.tab {
		font-size: @tab-panel-font-size !important;
		max-width: none !important;
		display: inline-block !important;
		height: @tab-panel-height !important;
		max-height: @tab-panel-height !important;
		line-height: @tab-panel-height !important;

		.title {
			vertical-align: middle !important;
			padding-right: 30px !important;
			padding-left: 5px !important;
			margin-bottom: 0px !important;
			margin-top: 0px !important;
			padding-top: 0px !important;
		}

		.title.icon::before {
			margin-right: 20px !important;
			font-size: @tab-icon-size;
		}

		.close-icon {
			line-height: inherit !important;
			vertical-align: middle !important;
		}

		.close-icon::before {
			content: @tab-close-icon !important;
			font-size: @tab-close-icon-size !important;
		}
	}
}
